[2012-07-03 13:43] lstoll opened #1 "Restaurant: Dos Palillos"
By the ex Chef de Cuisine at El Bulli.

[http://www.dospalillos.com/home.php?rest=2&lang=en](http://www.dospalillos.com/home.php?rest=2&lang=en)

@dylanegan @codenamejac

[2012-07-03 13:45] lstoll opened #2 "Restaurant: Maria Bonita"
Mexican. [https://www.facebook.com/mariabonitaberlin](https://www.facebook.com/mariabonitaberlin) . Because @dylanfm said

@dylanegan @codenamejac

[2012-07-03 13:53] DylanFM commented on #2
This is why... puerco especial, or something like that
![Puerco Especial](https://img.skitch.com/20120703-fsjg7c739tkmuifd5dpx84hxw9.preview.jpg)

[2012-07-03 16:06] dylanegan commented on #2
![](http://enchulameelperfil.com/images/comentarios/actitud/Puerco%204ever.jpg)

[2012-07-03 22:22] lstoll commented on #2
![](http://sharetv.org/images/guide/355983.jpg)

[2012-07-04 10:29] dylanegan commented on #1
LET'S DO IT!

[2012-07-04 11:04] lstoll opened #3 "Prague"
Do we want to look in to Prague this weekend?

@codenamejac @dylanegan

[2012-07-04 14:41] lstoll commented on #3
Ok, I had a quick look. I think leaving Saturday, returning Monday is better - accommodation will be cheaper and it will be a bit quieter.

## Accommodation

A nice hostel I know, [Miss Sophies](http://www.miss-sophies.com/) has private rooms (incl. Bathroom) for CZK1,936 on Sat, and  CZK1,554 on Sun (Approx €76 and €61). Availability is low, so we'd need to get on to this.

## Transport

### Trai

[2012-07-04 21:32] janaboruta commented on #3
Cafe Lounge
Address: Plaska 615/8 150 00 Praha 5- Mala Strana
Reason: Best food and coffee I had the entire trip I was in Europe
Website: http://www.cafe-lounge.cz/

River Lounge
Corey and I were walking around the city and we randomly found this cafe and wine bar. They had the best outdoor seating area. We were sitting outside with the Charles Bridge about 100 feet from us. It was beautiful!
If y

[2012-07-04 21:36] janaboruta commented on #3
This airbnb apartment was also fantastic. About a 15 to 20 minute walk from everything. ALl three of you guys could stay in the apartment. http://www.airbnb.com/rooms/117451

If you want to be in the heart of everything I recommend the Three Storks hotel. It's right underneath the Praha Castle. Rooms are about $152 a night. http://www.splendia.com/en/hotel/?hotel_id=30558&datestart=15/08/12&dateen

[2012-07-04 22:34] DylanFM commented on #3
Stayed here which was nice, they even gave Bel a letter opener for her birthday o-O http://www.mamaison.com/prague-pachtuv-palace-prague.html

[2012-07-04 22:40] lstoll commented on #3
@janaboruta awesome, thanks! Sadly, that hotel is out of our budget, we're 66.6% unemployed ;)

@codenamejac @dylanegan hostel booked, miss sophies:

![](http://sk.lds.li/Melounova_3%2C_prague_-_Google_Maps-20120705-000328.jpg)
![](http://sk.lds.li/Inbox_%2840262_messages%2C_53_unread%29-20120705-000430.jpg)

It's easily walkable to the places we want to go, and key public transport nearby.

Also,

[2012-07-04 22:46] DylanFM commented on #3
_Never mind me while I pine for Prague road trips, carry on._

[2012-07-05 10:51] dylanegan commented on #3
@janaboruta is http://www.kampagroup.com/en/restaurant.php?rid=1 the river lounge?

[2012-07-05 13:45] lstoll opened #4 "Switzerland/Zürich roadtrip"
Better start thinking about this...

@dylanegan @codenamejac

[2012-07-05 13:46] lstoll opened #5 "Berlin Apartment"
Need somewhere permanent to stay.

@codenamejac @dylanegan

[2012-07-10 09:19] dylanegan commented on #3
NAILED [IT](https://github.com/dylanegan/travel/blob/master/Czech%20Republic/Praha.md)!

[2012-07-10 12:40] lstoll commented on #3
Yeahh!!!

Closing.

[2012-07-10 12:40] #3 closed, assigned to nobody

[2012-07-10 12:42] lstoll commented on #5
Currently talking to the landlord of [that one we liked originally](http://www.city-wohnen.de/berlin/26243/9). It's €1800 for 3 people, available approx 20 August. Hopefully we can inspect it this Friday, Saturday or Sunday. I suggested we'd be there until end of Jan.

[2012-07-10 12:45] lstoll commented on #5
Crocodilian suggested [an apartment in Krezberg](http://www.rooms-in-berlin.com/7708-apartment-berlin.html). It's still on the more expensive side of things (€1700), and the second bedroom only has a single bed. However it is available earlier (20 Jul onwards).

I'm not sure the location is that accessible though.

[2012-07-10 12:48] lstoll commented on #4
Once we confirm when we get to look at the apartment, I'll start planning this more.

[2012-07-10 12:49] lstoll commented on #1
Brought up on the mailing list. Will book when we have some numbers.

[2012-07-10 12:51] lstoll opened #6 "San Francisco"
Need to sort out travel for @codenamejac . KLM Look like the best bet. As I have a layover in London, need to book accom for @codenamejac at TXL - 6am Sun departure. Return times to TXL are similar, need to work out Accommodation from the 5th until apartment.

[2012-07-10 12:52] lstoll commented on #6
SF Accommodation covered already.

[2012-07-10 13:07] lstoll commented on #5
The alternate is two separate one bedroom apartments in a similar area. There definitely seems to be much more available here. Thoughts?

[2012-07-10 14:32] lstoll commented on #5
@codenamejac just found this one: [http://www.city-wohnen.de/eng/berlin/flat-search/details/?a_nr=30835&b_nr=1](http://www.city-wohnen.de/eng/berlin/flat-search/details/?a_nr=30835&b_nr=1)

It's near Frankfurter Tor. Looks nice and spacious, and a bit cheaper. Should we check it out?

[2012-07-10 15:03] lstoll commented on #1
So @sr proposes tonight.

[2012-07-10 18:52] lstoll commented on #1
At the restaurant with @codenamejac, @dylanegan, @sr, @danishkhan and @jeshuaborges. Waiting for @brianmario and Theresa.

[2012-07-10 19:23] lstoll commented on #1
So far it's amazing, which is unfortunate for @mtodd @rsanheim

[2012-07-10 20:10] lstoll opened #7 "München"
We need to have a decent trip to Munich. @dylanegan and @codenamejac are a given, pretty sure @sr is in too.

[2012-07-10 20:25] lstoll opened #8 "Dos Palillos Lunch"
Should we organize a big (€20ish) lunch here, maybe Thursday this week? Who would come?

/cc @codenamejac @dylanegan @sr @danishkhan @jeshuaborges @brianmario

[2012-07-10 20:39] brianmario commented on #8
just so it's known, I had my brains blown out by dinner here tonight.

On Jul 10, 2012, at 10:25 PM, Lincoln Stoll notifications@github.com wrote:

[2012-07-10 23:31] lstoll commented on #8
So, @kneath @mtodd @nrrrdcore @rseinham @billyroh @jcostello @tmm1 ? Need to know by this afternoon.

[2012-07-10 23:37] mtodd commented on #8
I'm down!

[2012-07-11 11:04] kneath commented on #8
I'm in

[2012-07-11 11:20] nrrrdcore commented on #8
I'm in.

[2012-07-11 11:25] #1 closed, assigned to nobody

[2012-07-11 11:26] lstoll commented on #1
Nailed that.

[2012-07-11 11:49] dylanegan commented on #8
I DEMAND A RECOUNT!

[2012-07-11 11:49] dylanegan commented on #8
http://www.youtube.com/watch?v=7QLSRMoKKS0

[2012-07-11 11:50] dylanegan commented on #1
TOTALLY WINNING! http://www.youtube.com/watch?v=bmpONxJ7JSw

[2012-07-11 11:50] lstoll commented on #8
Oh, need to include @roidrage !

[2012-07-11 11:51] kneath commented on #8
Oh, also it's @rsanheim

On Wednesday, July 11, 2012 at 1:50 PM, Lincoln Stoll wrote:

[2012-07-11 12:02] roidrage commented on #8
Afraid I won't make it for lunch tomorrow.

[2012-07-11 12:04] tmm1 commented on #8
I'm in.

[2012-07-11 12:10] sr commented on #8
:+1:

[2012-07-11 12:53] sr commented on #7
Yup, I'm in. :+1:

[2012-07-11 12:57] sr commented on #7
Is @codenamejac Jacqui?

[2012-07-11 13:07] lstoll commented on #7
@sr: yep.

[2012-07-11 13:47] rsanheim commented on #8
I am not in, as I fly out thursday morning :(

[2012-07-11 13:53] rsanheim opened #9 "Go to Tresor Wednesday night"
A bunch of hubbers will be at Tresor Wednesday night for the beats.  You should join.  I imagine we will do drinks somewheres before and get there around 1230 ish.

/cc @dylanegan @roidrage

[2012-07-11 14:02] lstoll commented on #9
Are you going straight from the club to the airport? Madness! Had a big night last night, will ping you all later on.

[2012-07-11 14:07] rsanheim commented on #9
...the things I do for techno...

On Wed, Jul 11, 2012 at 4:02 PM, Lincoln Stoll notifications@github.comwrote:

[2012-07-11 14:12] dylanegan commented on #9
@rsanheim I'm hitting up some jazz, but I might be keen on getting my :fist: :wave: going.

[2012-07-11 14:15] nrrrdcore commented on #8
@lstoll What time are we lunching?

[2012-07-11 14:20] rsanheim commented on #9
@lstoll or @dylanegan do you have a recommendation for some place chill to have drinks in Friedrichshain before Tresor?

[2012-07-11 14:24] dylanegan commented on #9
@rsanheim I do not, but http://www.b-flat-berlin.de/index.php?lang=en&to=programm&vorschau=0 is where we're going for some jazz. Free on Wednesdays. @durran might know.

[2012-07-11 14:53] durran commented on #9
@rsanheim The bar I liked the most in F'hain closed a while back so I don't really know. (I spend most my nights in Kreuzberg.)

But here are some recommendations for Kreuzberg anyways, since Tresor is there and everything is easy to get to from the U1 hot spot stations (Kotti, Görli, Schlesi, Warschauer).

[Barbie Deinhoff's](http://barbiedeinhoff.de/) (Schlesisches Tor) (Tiny with good electro v

[2012-07-11 16:35] danishkhan commented on #8
I'm in

Sent from my iPad

On Jul 11, 2012, at 3:15 PM, Julie Ann Horvath notifications@github.com wrote:

[2012-07-11 16:57] lstoll commented on #8
I'd say 1300, will confirm in a few hours.

[2012-07-11 19:48] lstoll commented on #8
Table booked for 1300 tomorrow (Thurs 12.Jul). See you there.

[2012-07-12 05:57] sr commented on #8
:sparkles:

[2012-07-12 10:20] dylanegan commented on #9
I think @sr totally won at Tresor. Need to get in to Berghain.

[2012-07-12 10:23] dylanegan commented on #8
YO BITCHES, ARE YOU READY FOR LUNCH?

![](http://i.imgur.com/c0UQa.gif)

![](http://i.imgur.com/UnxQ2.gif)

[2012-07-12 10:26] sr commented on #8
YES I AM WAITING IN LINE FOR THE SHOWER

[2012-07-12 10:28] vmg commented on #8
IS IT TOO LATE TO SAY IM IN FUCK

[2012-07-12 10:30] dylanegan commented on #8
The shower line ride is the best ride.

![](http://gifs.gifbin.com/022010/1266318430_serious_treadmill_pwnage.gif)

[2012-07-12 10:44] lstoll commented on #8
@tanoku you might be lucky. Pretty sure we have a full table, but they might be able to do another one. Can't say for sure though.

[2012-07-12 19:26] rsanheim commented on #9
Haven't showered in so long.  Winning at air travel.

Sent from phonetron 9000

On Jul 12, 2012, at 6:20, Dylan Egan notifications@github.com wrote:

I think @sr https://github.com/sr totally won at Tresor. Need to get in
to Berghain.

—
Reply to this email directly or view it on
GitHubhttps://github.com/lstoll/travel/issues/9#issuecomment-6931672
.

[2012-07-13 14:47] sr commented on #9
Winning at train travel over here. Wins everywhere.

On Thu, Jul 12, 2012 at 9:26 PM, Rob Sanheim notifications@github.comwrote:

[2012-07-17 16:57] #9 closed, assigned to nobody

[2012-07-17 16:57] #8 closed, assigned to nobody

[2012-07-17 16:58] lstoll commented on #4
Deferred until return - between 6 aug and xx?

[2012-07-19 18:10] lstoll opened #10 "Shooting"
@stolt45 @kch @mattmanning @wuputah @atmos @codenamejac @benburkert @tsykoduk

Let's go shoot guns in SF, week beginning 23 Jul. Any day in particular better for people?

[2012-07-19 18:12] lstoll commented on #4
So, my Visa appt. is 13 Aug, and we move in/your visa appointments 21 Aug. Between then?

[2012-07-19 18:12] lstoll commented on #6
Flight booked, accom from Fri 20th at Mercure Berlin.

[2012-07-19 18:12] #6 closed, assigned to lstoll

[2012-07-19 18:14] lstoll commented on #5
Looks like the awesome one is all good. Meeting at 1600 20.Jul to finalize. All documents needed collected, will close when it's booked.

[2012-07-19 18:14] atmos commented on #10
:moneybag:, I'm in.

[2012-07-19 18:22] dylanegan commented on #4
@lstoll yeah, I am also thinking of hitting up [Montpellier](https://github.com/dylanegan/travel/issues/14).

[2012-07-19 18:22] dylanegan commented on #5
@lstoll good luck. Also thanks and FUCK YEAH!

[2012-07-19 18:23] dylanegan commented on #5
:rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow: :rainbow:

[2012-07-19 18:26] lstoll commented on #4
In conjunction with, or instead? We may be able to drive down, or drop you off in Genf - [train should be easy from there](http://tgv.tgv-europe.ch/de/tgv-genf-mittelmeer).

[2012-07-19 18:46] tsykoduk commented on #10
There is a meetup at heroku tuesday, and I am planning on attending. Other then that, let's dooo it.

[2012-07-19 19:03] mattmanning commented on #10
I'm in too.

[2012-07-19 21:06] kch commented on #10
I can be in but I still wanted to do the go-kart thing.

[2012-07-19 21:09] benburkert commented on #10
:gun: :+1: :metal:

[2012-07-19 21:37] mattmanning commented on #10
I'm also super down for go karts. I'd actually do that instead of shooting if it came down to it.

[2012-07-19 23:40] dylanegan commented on #10
:gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun: :gun

[2012-07-20 05:36] wuputah commented on #10
Bring your favorite gun!
http://www.tsa.gov/travelers/airtravel/assistant/editorial_1188.shtm
http://www.tsa.gov/travelers/airtravel/assistant/editorial_1666.shtm
http://oag.ca.gov/firearms/travel

Or: let's go trap shooting. :bird: :gun:

[2012-07-21 00:11] stolt45 commented on #10
I'm hoping we can do both.

1) go shooting
2) go go carting

I was going to try to surprise you guys but since you all will self organize this if I don't say something I'm lettin' ya'all know.

[2012-07-21 06:38] lstoll commented on #10
![](http://fireden.net/wp-content/uploads/2012/05/why_not_both.png)

When were you thinking of karting?

[2012-07-28 23:18] sr commented on #7
http://harrykleinclub.de/

Apparently really nice intimate house club. Residents sound nice: http://harrykleinclub.de/ohr/content.php

Source: http://nightclubber.ro/vera-tini-at-harry-klein-club-munchen-30-11-2007-7-hour-set

[2012-08-05 01:37] lstoll opened #11 "Singapore F1 GP"
Is on 21-23 Sep. I'm thinking about arriving on the Thurs (20th) afternoon, flying out Mon (24th) evening. Looks like tickets are about AU$600, accomodation for 4 nights in a basic place about the same.

@benschwarz @dylanegan

[2012-08-05 03:16] lstoll commented on #11
I'm thinking about the 'Padang Combination' - [Ticket Info Here](http://www.singaporegp.sg/ticket/ticket_price.php), thoughts? I don't want to spend all of my time at the F1, I'd like to come and go and hang out in .sg as well.

Dylan - I assume you don't want to F1?

The GP is in the [Marina/Esplanade](https://maps.google.com/maps?q=Esplanade+Singapore&hl=en&ll=1.289926,103.855991&spn=0.02866,0.0

[2012-08-05 03:20] benschwarz commented on #11
Will check it out later.
On Aug 5, 2012 1:16 PM, "Lincoln Stoll" <
reply@reply.github.com>
wrote:

[2012-08-05 09:13] dylanegan commented on #11
I don't think I can do this as it is hard for me to get a flight with points going via Singapore. I might just head to Sydney earlier.

[2012-10-18 10:29] lstoll commented on #11
Nailed this.

[2012-10-18 10:29] #11 closed, assigned to nobody

[2012-10-18 10:30] lstoll commented on #10
So this didn't happen.

But I'll be back end of Nov. Closing for now.

[2012-10-18 10:30] #10 closed, assigned to nobody

[2012-10-18 10:30] lstoll commented on #5
So nailed the apartment.

[2012-10-18 10:30] #5 closed, assigned to nobody

[2012-10-18 10:31] lstoll opened #12 "AT/CH/FR/NL mini-adventure"
With @codenamejac . Adventurin'

[2012-10-18 10:32] lstoll commented on #4
Superseded by #12

[2012-10-18 10:32] #4 closed, assigned to nobody

[2012-10-18 10:33] lstoll commented on #7
Kind of superseded by #12 . Will keep this open though, I still think we should hang down there.

[2012-10-18 10:58] lstoll commented on #12
Thinking an overview like this.

![](http://sk.lds.li/Berlin%2C_Germany_to_Berlin%2C_Germany_-_Google_Maps-20121018-125228.jpg)

Berlin/Munich/Switzerland Via Car, then probably Paris/AMS/Berlin via Train. Logistics of ditching the car might be hard.

[2012-10-18 11:35] lstoll commented on #12
Driving times:

Berlin -> München: ~6h
München -> Innsbruck -> Scuol -> St. Moritz: ~4h15m
**Option 1** - More mountains etc to Zürich
St. Moritz -> St Gotthard -> Zürich: ~4h15m
Zürich -> Lörrach: ~1hr
**Option 2** - Rheintal, drop car in Lindau
_This could also be tacked on to above, avoiding night in St. Moritz_
St. Moritz -> Lindau: ~2h15m
Lindau -> Zürich (Train), 1h45-2h30

Train times:

Zur

[2012-10-18 12:37] lstoll commented on #12
Considered itinerary

**Day 1** Drive Berlin -> Munich, night in/near Munich (Preferably in, go out at night)
**Day 2** Drive Munich -> Lindau via Alps. Spend night in Zurich.
**Day 3** Afternoon train to Paris.
**Day 4** In Paris
**Day 5** Afternoon train to Amsterdam
**Day 6** In Amsterdam
**Day 7** Afternoon train to Berlin

Considered variation - Night in St. Moritz, gives more day time in Zür

[2012-10-18 12:58] lstoll commented on #12
Car rental for 2+ days is €120 (Golf)

Allow €100/day for accom.

Transport: €120+€150(fuel)+50+200+250+100 = €870
Accom 7 nights at ~€100/night = €700

~€1570

[2012-10-18 17:05] sr commented on #12
Kinda :cry: you aren't stopping in my hood

[2012-10-18 17:07] lstoll commented on #12
@sr : Still not ruled out - but the train is the same price to Brussels as it is to Amsterdam, and it's already a pricy trip.

I'm going to check it out tonight though, maybe we can get Brussels to Amsterdam cheap. Will you be around the week 29 oct?

[2012-10-19 01:53] lstoll commented on #12
This shit [is BOOKED](https://www.tripit.com/trip/public/id/9A9A5B376066)

@sr So we'll be in Brussels on the 29th for a night. Yeahhhh!

[2012-10-19 09:42] dylanegan commented on #12
[Bruxelles](https://github.com/dylanegan/travel/blob/master/Belgium/Bruxelles.md), especially [De La Vigne A L'assiette](http://sites.resto.com/delavignealassiette/).

[2012-10-19 12:30] sr commented on #12
Hell yes @lstoll.

Was gonna say La Vigne for dinner but they're close on Monday unfortunately. We could do launch there on Tuesday around 11:30AM. That's plenty of time to catch your 1:52 :train2: to Amsterdam.

I'll think of something else for dinner on Monday. There's plenty of choices.

[2012-10-20 11:55] lstoll commented on #12
@sr sounds good. Nothing too fancy on Monday, don't wanna spend to much

[2012-10-20 11:57] lstoll commented on #12
Will drop in on @stuinzuri in Zürich. Staying in a hotel there, but definitely need to do dinner/drinks somewhere.

[2012-10-21 06:42] stuinzuri commented on #12
Supi. See  you next week!

[2012-10-31 11:00] lstoll opened #13 "Food at Reinstoff"
http://www.reinstoff.eu/welcome.html

2\* restaurant, out of the 3 in Berlin seems to have a more local twist. Would want to do the "Quite Near" menu (http://www.reinstoff.eu/welcome.html)

/cc @codenamejac @dylanegan

[2012-10-31 11:01] lstoll commented on #13
Thinking Tues/Wed, 6-7 Nov.

[2012-10-31 11:24] dylanegan commented on #13
That is the five course one? I might be able to do that. I assume this means no Malmö (I'm out of that).

[2012-10-31 11:45] lstoll commented on #13
Yeah, pretty :-1: on Mälmo. Be cool to go, but already doing so much travel it'd be nice to hang in Berlin.

I think they come in variable courses, but I could go for the smaller/cheaper one.

[2012-10-31 11:53] dylanegan commented on #13
OK. Let me see how :secret: goes and then I'll let you know.

[2012-12-08 13:07] lstoll commented on #12
DONE.

[2012-12-08 13:07] #12 closed, assigned to nobody

[2012-12-08 13:11] lstoll commented on #13
Maybe early Jan, before we head away for a bit?

[2012-12-08 13:19] dylanegan commented on #13
@lstoll yeah, let's do it as a farewell dinner. :wink:

[2012-12-12 15:06] lstoll opened #14 "Australia, Feb 2012"
So RubyConf is on, and @rkh , @wfarr and @razic (?) should be over for that. Plus @rodjek isn't far.

Maybe we should look at some awesome things to do while everyone is out. Thoughts?

[2012-12-12 15:07] rkh commented on #14
+1

[2012-12-12 15:08] lstoll opened #15 "LaConf + Dylan's Birthday"
So [LaConf](http://la-conf.org) is on early May, in Paris. It's also @dylanegan 's birthday. Should we a) go to the conf and b) part for dylan's birthday.

@dylanegan @sr

[2012-12-12 15:10] lstoll commented on #15
So I checked the conference hotel, starts at €959/night. Maybe not there. We could AirBnB.

[2012-12-12 15:12] lstoll opened #16 "Return to Europe 2012."
Because people don't believe me, I'm just going to book this.

@dylanegan @roidrage @rkh @svenfuchs @sr

[2012-12-12 15:14] lstoll commented on #14
Should probably pull @benschwarz in on this, because he's always up for adventures.

[2012-12-12 15:17] rkh commented on #16
![](http://replygif.net/i/967)

[2012-12-12 15:18] dylanegan commented on #16
It's not that we don't believe. It's that we'll just miss you.

![](http://i.imgur.com/q2988.gif)

Yes, that GIF is completely unrelated.

[2012-12-12 15:49] sr commented on #15
Too bad it's in Paris. I heard @keavy is speaking though.

[2012-12-12 15:53] lstoll commented on #15
It's like 2hrs on the train from Bruxelles, you can

![](http://assets0.ordienetworks.com/images/GifGuide/DealWithIt/ferrisdealwithit.gif)

 @topfunky will be there too.

[2012-12-12 15:54] sr commented on #16
![](http://forgifs.com/gallery/d/189782-1/Spiderman_propeller.gif)

[2012-12-12 16:44] sr commented on #15
But meeeeeeh it's Pariiiisssssssssss. Although apparently it's gotten better in recent years? I should probably go back.

![](http://gifs.gifbin.com/062012/1338914782_biker_highvives_cop.gif)

[2012-12-12 16:45] dylanegan commented on #15
@sr for me bro. FOR ME!

[2012-12-12 17:01] lstoll commented on #16
CONFIRMED. Nailed that one quickly.

![](http://sk.lds.li/Inbox_%2823078_messages%2C_51_unread%29-20121212-180001.jpg)

[2012-12-12 17:01] #16 closed, assigned to nobody

[2012-12-12 17:02] sr commented on #16
![](http://f.cl.ly/items/3v0m1Y3R0X2d1v1d3x0j/animated.gif)

[2012-12-12 17:04] rkh commented on #16
That has been photoshopped…

On Dec 12, 2012, at 6:01 PM, Lincoln Stoll notifications@github.com wrote:

[2012-12-12 17:05] lstoll commented on #16
Yeah, I removed the passport and confirmation number so y'all don't fuck with it.

[2012-12-12 17:27] lstoll commented on #2
Closing this, because I had about 5,000 Puerco Especial's at Santa Maria.

[2012-12-12 17:27] #2 closed, assigned to nobody

[2012-12-12 17:30] lstoll opened #17 "First night in Aus (22 Jan)"
So Iand at like 1030am. Need somewhere to hang for the day, work out where I'm going to stay that night, then need to drink birds of margarita and reminisce with @benschwarz.

So, can I hang out at the league @benschwarz @joho @geelen ?

[2012-12-12 17:31] lstoll commented on #17
Not sure if that pinged @geelen, because I fucked up his GitHub name.

[2012-12-12 18:49] lstoll opened #18 "RailsBerry accom/transport"
So @dylanegan, airbnb a place? Just the two of us? Seems to be a bunch of one bedroom joints with a sofa bed for ~€35/night.

Also need to get back to Berlin afterwards, maybe via Prague if that goes down (and you have time pre tropisch)

[2012-12-12 21:11] benschwarz commented on #14
I love adventures as much as I love juice… and I fucking love juice.

[2012-12-12 21:22] lstoll commented on #13
Probably 10th Jan, I leave on 12th.

@norbert interested?

[2012-12-12 22:11] joho commented on #17
You're always welcome at the league, come hang.

We've got a spare bed/bedroom out in brunswick if you need somewhere to crash.

[2012-12-12 22:46] lstoll opened #19 "Summit roadtrip"
Want to drive somewhere. Thinking 19/20 (Sat/Sun after summit), I fly at like 1930 Sun.

@sr @benburkert

[2012-12-12 22:46] geelen commented on #17
+1

On 13 December 2012 09:11, John Barton notifications@github.com wrote:

[2012-12-12 22:47] lstoll commented on #19
$160/day for a Corvette. Or that convertible volvo is  $130.

Where to go?

[2012-12-12 22:48] wfarr commented on #14
I dig this. I think @alanjrogers lives in Melbourne as well.

Also let's get @dylanegan up in hurr.

[2012-12-12 22:49] lstoll commented on #14
Yep @alanjrogers lives in Mel, so he'd definitely be up for stuff I'm sure. We should probably do a drinkup at the conf.

@dylanegan won't be in Aus though.

[2012-12-12 22:53] rodjek commented on #14
:+1: The Melbourne-ness is unfortunate, but I'll risk the trip south for adventures with you fine people.

[2012-12-13 03:08] rodjek commented on #14
by the by, the jasper hotel (where rubyconf is) is a really good hotel

[2012-12-13 03:13] benschwarz commented on #14
Clearly, because I live here—I know very little of the quality of local hotels.
The westin is baller. Thats because its baller everywhere… but so is the price.

[2012-12-13 05:57] rodjek commented on #14
Yeah, the Westin is awesome (and has a nice cocktail lounge) but at ~$300/night it is also about twice the price of Jasper :)

[2012-12-13 10:53] norbert commented on #13
@lstoll yeah! Better reserve soon.

[2012-12-13 11:04] lstoll commented on #13
OK, we're booked in at 1900 on 10 Jan. 4 People.

![](http://sk.lds.li/OpenTable-20121213-120416.jpg)

[2012-12-13 11:07] lstoll commented on #13
@dylanegan aah shit, just noticed Kat gets here on that day. Should I move to the day before, or extend the booking?

[2012-12-13 11:08] lstoll commented on #17
@dgoodlad likes to drink.

[2012-12-13 11:09] lstoll commented on #17
Also cheers guys, will totally swing by as soon as I get in. @alanjrogers is on the same flight too, so maybe drag him down too and lunch.

[2012-12-13 11:11] dgoodlad commented on #17
I am, as you mentioned, a fan of alcoholic beverages.

[2012-12-13 13:14] lstoll commented on #13
OK, this is now on the 9th at 1930.

![](http://sk.lds.li/OpenTable-20121213-141323.jpg)

[2012-12-13 13:16] lstoll commented on #14
I'd suggest AirBnB. There's a bunch of decent, reasonably priced stuff in there - hotels are mega expensive.

[2012-12-14 11:55] rkh commented on #14
When will every one be there? I might be interested in an airbnb. Though I have a super limited budget. :(

[2012-12-14 12:15] lstoll commented on #14
I'm there from 22 Jan until 21 April :)

@rkh how long are you thinking about being out?

[2012-12-15 15:29] sr commented on #19
Santa Barbara. I'll know for sure on Monday whether I can get a driver license in time for this.

/cc @mtodd

[2012-12-16 00:43] mtodd commented on #19
We had talked about road tripping from Nasville to SF for the Summit //cc
@skalnik @vinbarnes @rick @ymendel

On Saturday, December 15, 2012, Simon Rozet wrote:

##

Matt Todd
GitHub, Inc
www.github.com
cell: 404-314-2612
blog: maraby.org

[2012-12-16 01:22] ymendel commented on #19
We talked about what?

[2012-12-16 15:52] rick commented on #19
We had.  I think we had come down to the only sane way to do it was an RV, and there was some prep work that had to be done for that.  The "deadline" for summit hotel arrangements came pretty early and Kevin and I decided we probably wouldn't end up doing the work to get the RV going, so we're just flying out instead. :-/

[2012-12-16 15:59] lstoll commented on #19
OK, Santa Barbara is about 7 hours down the 1. Long, but doable return in 2 days. I have to fly out at like 1900 Sun Night with @alanjrogers.

I guess this depends on what happens Friday night.. Could possibly even leave then and spend a night in Santa Cruz or something?

![San Francisco CA to Santa Barbara CA - Google Maps](https://f.cloud.github.com/assets/694/15603/69f4bed2-4799-11e2-9370-c4489

[2012-12-16 16:34] alanjrogers commented on #19
I'm down for a road trip too (if there's room of course )

[2012-12-16 16:35] lstoll commented on #19
Depends on who's coming and car choices, but it's totally open - we can always convoy it.

[2012-12-16 23:16] ymendel commented on #19
![](http://4.bp.blogspot.com/-tivb46dL0M8/UK6E2HoASzI/AAAAAAAAAgc/-6uhH1Pi1pg/s1600/convoy1.jpg)

[2012-12-16 23:32] lstoll commented on #19
@ymendel holy shit, that's pretty much exactly what I had in mind.

[2012-12-16 23:46] lstoll commented on #19
I think that's @sr on the right, holding on to me. They have matching fro's.

[2012-12-18 10:03] lstoll commented on #19
@sr did you get a license?

[2012-12-18 13:46] sr commented on #19
@lstoll Nope. Couldn't get an appointment to take the exam early enough. I did get two speeding tickets though.

I think I might bail, being on the 1 and not driving is going to drive me nuts.

[2012-12-20 19:19] lstoll commented on #15
The _event in Berlin which I probably can't name yet_ is from May 10-12, so that's probably going to conflict with the Paris trip.
- @thedukeofsf

[2012-12-20 19:24] jeniferduke commented on #15
@lstoll - what are the dates for the Paris conf?

[2012-12-20 19:24] lstoll opened #20 "Eat at Aqua"
[Aqua](http://www.restaurant-aqua.com), in Wolfsburg - about 1 hour by train from Berlin

"
Chef Sven Elverfeld is billed as a “passionate deconstructionist and re-inventor of plain cuisine”, and a big focus here is the dismantling and reassembling of peasant food. This is highly unorthodox in Germany – most of his peers look to hide the country’s heavy, rather unrefined culinary roots. Elverfeld

[2012-12-20 19:26] lstoll commented on #15
9-10 May, it's [La Conf](http://2013.la-conf.org) . It's a ruby event, so don't think there would be too much overlap in attendees.

[2012-12-20 19:28] jeniferduke commented on #15
Oh ok. May 11 and 12th are more important anyway I think for the GitTogether Berlin.

[2012-12-20 21:21] lstoll opened #21 "Housing: RailsConfAU Edition"
With @rkh

[2012-12-20 21:25] lstoll opened #22 "Housing: Berlin Edition"
Need somewhere to stay for time in Berlin with @codenamejac. Timing depends a lot on visa requirements.

Also need to work out if it's just us, or @dylanegan as well

[2012-12-20 21:25] lstoll opened #23 "Housing: San Francisco edition"
Post Berlin, need to organise somewhere awesome with @codenamejac

[2012-12-22 22:22] lstoll commented on #19
Fuck it, convertible corvette rented anyway. 1730 on 18th -> 1730->20th.

[2012-12-23 11:16] dylanegan commented on #20
Let me do this thing today and figure that stuff out and we'll see.

[2012-12-23 11:18] lstoll commented on #20
I actually wanted to do giant dropquotes.

OK cool, not proposing this until post- April anyway - just wanted to have it listed.

[2012-12-23 15:32] sr commented on #19
Word, I was just watching Scrubs and got over it somehow. Count me back in. Been researching Santa Barbara a bit. You down for wine tour?

[2012-12-23 15:38] sr commented on #20
How about February? (dylanegan/travel#59)

[2012-12-23 15:39] lstoll commented on #19
Wine tour sounds good. So you gonna be my passenger now?

[2012-12-23 15:42] sr commented on #19
I'd love to be the obnoxious drunk sitting next to you yeah :cocktail::heart_eyes:

[2012-12-23 15:42] lstoll commented on #20
I'd be more keen for April/May - I won't be around feb.

[2012-12-23 15:42] sr commented on #19
Also there's a Bieber on your face.

[2012-12-23 15:43] lstoll commented on #19
Sweet, it's on. Maybe we should haul down to Santa Cruz or something Fri night, then go from there?

[2012-12-23 15:43] lstoll commented on #19
Also there's french on your face.

[2012-12-23 16:34] mtodd commented on #19
2 seater?

On Saturday, December 22, 2012, Lincoln Stoll wrote:

##

Matt Todd
GitHub, Inc
www.github.com
cell: 404-314-2612
blog: maraby.org

[2012-12-23 22:44] lstoll commented on #19
All of them are? There's always a Volvo C70 that will fit 4 (comfort in the back can suck, but I drive so I don't care ;), or you could rent a second corvette with someone else who wants to go?

[2012-12-24 03:09] mtodd commented on #19
:-1: nahhhhhhhhh

On Sunday, December 23, 2012, Lincoln Stoll wrote:

##

Matt Todd
GitHub, Inc
www.github.com
cell: 404-314-2612
blog: maraby.org

[2012-12-24 13:38] sr commented on #19
@lstoll

:+1: 7 hours drive at night sounds like :poop:

Jesus I have about a billion tabs open for shit to do in Santa Barabara.

![](http://s-ak.buzzfed.com/static/imagebuzz/web03/2010/4/11/23/oh-jesus-29170-1271042197-38.jpg)

[2012-12-24 13:38] sr commented on #19
@mtodd What does that mean?

[2012-12-24 14:51] lstoll commented on #19
Sweet. I'm sure we can find somewhere cheap to stay in Santa Cruz/Monterey, and go to a local restaurant/bar. Then cruise down the 1 to Santa Barbara. Then on Sunday the 1/I-5 depending on time.

When do you fly out from SF?

[2012-12-24 15:06] sr commented on #19
Monday afternoon.

[2012-12-24 15:13] lstoll commented on #19
what time? I wonder if I could defer my flight a day, that'd give us more time.

[2012-12-24 15:22] benburkert commented on #19
yeah, you're gonna wanna drive down HW 1 durring the day. It's an awesome drive during the day but sucks at night.

[2012-12-24 15:25] lstoll commented on #19
Maybe we should get the Volvo convertible, it's the best road trip car.

.... As long as the roof doesn't touch.

[2012-12-24 15:28] benburkert commented on #19
:+1: sounds good to me. FYI, Enterprise has an Audi A5 convertible: http://exoticcars.enterprise.com/sanfrancisco

dunno if the roof touches though.

[2012-12-24 16:15] lstoll commented on #19
@benburkert you interested in a trip?

[2012-12-24 16:26] sr commented on #19
@lstoll Return :airplane: is at 2PM, I usually leave the W at 12:15 to catch it with plenty of time. I might be able to change it.

[2012-12-24 16:36] lstoll commented on #19
aah, maybe too early then. Be such a rush to try and get back.

[2012-12-27 15:00] sr commented on #19
Yeah... flight isn't refundable nor changeable. Fucking Concur, even calling KLM won't do because it's been booked through a third party. I'll be sure to select the flex rate next time. Fuck everything.

[2012-12-27 17:09] vinbarnes commented on #19
And often.

[2012-12-27 23:28] lstoll commented on #21
AirBNB confirmed for 18-23 Feb. More to come.

[2012-12-27 23:36] lstoll commented on #14
OK, So i've pretty much secured a family house in [Fingal Head, NSW](https://maps.google.com/maps?q=Fingal+Head,+NSW&hl=en&ll=-28.201557,153.566895&spn=1.043241,1.170044&sll=51.175806,10.454119&sspn=11.884806,18.720703&hnear=Fingal+Head+New+South+Wales,+Australia&t=m&z=10) for the week after RubyConf.

It's a nice house in a cool little town, about 40 mins drive from Byron Bay and just south of th

[2012-12-28 00:10] benschwarz commented on #14
In!

[2012-12-28 00:24] rkh commented on #14
+1

[2012-12-28 00:26] lstoll commented on #14
Cool, @rkh and I leave the airbnb on the 23rd, so probably catch a party plane after hungover (Fitzroy) lunch on that saturday. I can get 4 of us in for lounge + party seats on plane.

[2012-12-28 00:42] dgoodlad commented on #14
Yes!

[2012-12-28 01:04] dgoodlad commented on #14
I'd be in for party plane on the 23rd, and can get one more into the lounge.

Looks like there's a $85 flight around 3pm on the 23rd

[2012-12-28 01:09] razic commented on #14
@lstoll is there enough room for me as well? what airport would i need to fly into?

[2012-12-28 01:10] lstoll commented on #14
DJ749, that's what I was planning. @benschwarz has confirmed that, are you OK with that flight? Just need to check in with @rkh and I should have a booking together, do you mind if I just buy that one? that way we can cab/lounge/hold hands on that one.

[2012-12-28 01:12] lstoll commented on #14
@razic depends on what your accommodation requirements are, but totally. Would likely be couch/bed in shared room? Need to fly to OOL, which is easy. We may need to rent a second car to carry us around, but should be pretty cheap. Let's wait for the last few to confirm, and make this shit happen :)

[2012-12-28 01:12] lstoll commented on #14
Also @sr

[2012-12-28 01:13] lstoll commented on #14
FWIW In the place there are 3 double bedrooms, big living area, then an open loft-y area with some mattresses and stuff. So we should be able to fit as many as needed.

[2012-12-28 01:28] razic commented on #14
What are the dates?

[2012-12-28 01:31] lstoll commented on #14
Say 23/Feb -> 2 Mar, but flexible in between.

[2012-12-28 01:51] rodjek commented on #14
Is Australia ready for that? ;)

@lstoll count me in for beach hacking if there's a free couch

[2012-12-28 01:51] dgoodlad commented on #14
@lstoll DJ749 on Feb 23 would work for me! Not 100% sure I can do the whole week but will definitely be in for the Saturday flight.

[2012-12-28 03:28] wfarr commented on #14
Me also.

On Thursday, December 27, 2012, Tim Sharpe wrote:

[2012-12-28 03:45] lstoll commented on #14
Sweeeeeet. So I think there will need to be some couch/loft sharage, but we can work that out.

I'm tentatively looking at 23 Feb -> 2 March

So who is planning on what dates, and flying from where? So we can organise any needed rental cars/party planes, and I can confirm with my Uncle that those dates are 100% cool

Also, we'll probably need more that one MiFi, or maybe it's worth just connecting

[2012-12-28 03:46] lstoll commented on #14
@benschwarz and @rkh are exempt from that request, already spoke to those guys.

[2012-12-28 03:48] benschwarz commented on #14
I'm good to go in for whatever we end up doing mifi wise.

On Friday, 28 December 2012 at 2:46 PM, Lincoln Stoll wrote:

[2012-12-28 03:49] lstoll commented on #14
I already have 1 telstra one. I guess for the most part people can tether, and the out-of-countriers can deal with it? But we'll sort that out when it gets closer, it's just a logistics thing.

[2012-12-28 07:32] rodjek commented on #14
I've got a mifi that I can chuck a sim into for foreigners to use

[2012-12-28 22:48] wfarr commented on #14
I'm probably just gonna do the intntl roaming with AT&T and tether up.

@lstoll @rodjek want to get a more firm timeline going when we're all in a
room together in a few weeks?

I'll need to do some heavy planning re my flights on account of the conf
and whatnot

On Thursday, December 27, 2012, Tim Sharpe wrote:

[2012-12-28 22:49] benschwarz commented on #14
That'll probably cost about a million dollars.
Telstra have sims available here in Australia for about $20, then we can throw data on it.

We'll sort out the data problem, don't worry about tether (apart from phone calls, of course)

[2012-12-28 22:51] dgoodlad commented on #14
Telstra sell sims for $2 now, and data is reasonably priced, don't bother with roaming

[2012-12-28 22:52] lstoll commented on #14
@wfarr fuck roaming for tethering. We can hook you up with a cheap oz sim that'll do all your data and tethering shit.

But :+1: for having a quick planning session at summit for @rodjek, @wfarr and @razic

[2012-12-28 23:29] lstoll commented on #14
So @dgoodlad @benschwarz @rkh and I have our flights + car, because we already have in town sorted.

Will chat to you others at Summit.

[2012-12-28 23:47] razic commented on #14
I'm going to have to pass up this opportunity... sorry guys. Round-trip from HKT to OOL is about $1300 USD and a 17 hour flight. I could get GitHub to pay using my one conference a year benefit but I'd rather use that on something else.

Take lots of pictures and make me jealous :smile:

[2012-12-29 00:24] lstoll commented on #14
@razic I thought you were going to be at RubyConf.au?

Also that's a shit routing anyway!

[2012-12-29 03:51] alanjrogers commented on #14
I'm in for this too, what flight should I get on?

[2012-12-29 04:00] dgoodlad commented on #14
@alanjrogers @lstoll booked us on DJ749 on Feb 23

[2012-12-29 04:48] razic commented on #14
@lstoll I was going to go but I'm not a speaker so I have no obligation.

[2012-12-30 10:59] alanjrogers commented on #14
@dgoodlad and what flight back? I'll try and get on the same one.

[2012-12-30 11:00] dgoodlad commented on #14
I haven't booked a return flight yet, but likely on the Friday for me

[2013-01-01 19:58] sr commented on #19
## Monterey

### Dinner
- [Montrio](http://www.montrio.com)

### Breakfast
- http://www.firstawakenings.net
- http://www.katysplacecarmel.com

## Santa Barbara

Wine tour by foot: http://goo.gl/maps/PyJpo

### Dinner
- http://www.bouchonsantabarbara.com/

### Drinks
- [The Neighborhood](http://www.yelp.com/biz/the-neighborhood-santa-barbara) Foosball, billard, ping pong, outside patio
- [Elsie's T

[2013-01-01 23:43] alanjrogers commented on #14
:boom: :camel: Booked on DJ749 on Feb 23

[2013-01-02 01:11] dgoodlad commented on #14
Boom. I'm looking at DJ734 on Mar 1 – 11am on the Friday to make it back for retro that afternoon.

@alanjrogers @lstoll @benschwarz you guys planning to stick around until the Saturday?

[2013-01-08 01:13] alanjrogers commented on #14
Unfortunately, I'm very likely going to have to bail on this trip. We've just figured out that we'll be needing to move house around the 7th of March, so the weekends leading up to that will be house hunting and packing.

I've cancelled my flight for the moment, but if things firm up and I can make it after all, I'll book another flight.

:crying_cat_face: :metal:

[2013-01-10 11:06] sr commented on #19
@lstoll Should we book a place in Monterey?

http://www.ichotelsgroup.com/intercontinental/hotels/gb/en/monterey/mryha/hoteldetail

![image](https://f.cloud.github.com/assets/90/56458/b367fe00-5b15-11e2-8756-1edd1459d6ce.jpg)

[2013-01-10 11:50] lstoll commented on #19
The fireplace one?

[2013-01-10 11:56] lstoll commented on #19
They do have parking, $21. Perfect.

[2013-01-10 12:14] sr commented on #19
Haha I am glade you've picked the fireplace one. Forwarded you the confirmation.

[2013-01-16 17:32] dylanegan commented on #18
I acquired a ticket so I'll be going for sure now. Let's lock down some accommodation.

[2013-02-05 00:19] lstoll commented on #14
OK, so here's the current wrap-up for the hack house.

We have 6 people coming: @lstoll, @benschwarz, @rkh, @dgoodlad, @wfarr and @rodjek

@lstoll, @benschwarz, @dgoodlad and @rkh arrive on Sat, Feb 23 at 1610 on VA749, in tool Coolangatta/Gold Coast (OOL)

Everyone has varying leaving times, but we want to be out by early afternoon (1300-1400ish) on Friday, March 1.

The house has 3 bedrooms with

[2013-02-05 00:38] lstoll commented on #14
Also, I'll probably get a cleaner in afterwards, but we should keep the place decent anyway. Not sure what that'll cost, but won't be too much. I'll sort out the ancilliary bits like that this weekend.

We'll be staying at [Fingal Head](https://maps.google.com/maps?q=Fingal+Head+NSW,+Australia&hl=en&ll=-28.20065,153.565865&spn=0.128441,0.180759&sll=-28.255854,153.575821&sspn=0.128374,0.180759&oq=F

[2013-02-05 00:42] dgoodlad commented on #14
Sounds like I should pack a pillow & sleeping bag just in case!

Is anyone heading to the OOL airport afterwards? Would be good to grab a flight around the same time. I'm bailing on the idea of making it back to MEL for retro on Friday, so whenever...

[2013-02-05 00:50] lstoll commented on #14
@dgoodlad that's probably not the worst idea. There should be bedding and stuff, but it'd be safe to bring some if you have some.

I know @rkh is doing that journey, but I can't remember the exactly flight. I think it's VA738 (1355->1715), but I guess he can chime in with that one. That'd probably be the best party plane for MEL.

[2013-02-05 09:01] rkh commented on #14
Yep, it's the 1355 one. DJ738.

[2013-02-05 09:23] dylanegan commented on #14
Does anyone not have a flight for this trip? I need someone to fly under my name in Australia for four sectors so I am happy to pay for their flight if it is a good price.

[2013-02-05 10:34] lstoll commented on #14
@dylanegan not sure how that will go, I think @dgoodlad has checked bags. They have to be carry on only.

[2013-02-05 11:25] dylanegan commented on #14
Oh yeah, I should've added that.

[2013-02-05 22:32] dgoodlad commented on #14
Yeah I'll have checked bags if I haul sleeping gear with me, sorry @dylanegan !

[2013-02-06 17:14] sr commented on #19
:car::sunglasses::herb::wine_glass::+1:

[2013-02-06 17:15] sr commented on #18
/cc sr/travel#3

[2013-02-13 00:48] #19 closed, assigned to nobody

[2013-03-04 06:20] lstoll commented on #18
I feel like I might have to drop railsberry, Jac arrives on the 23rd and I have a visa appointment.

[2013-03-04 06:22] lstoll commented on #13
:wine_glass: :wine_glass: nailed it

[2013-03-04 06:22] #13 closed, assigned to nobody

[2013-03-04 06:23] lstoll commented on #15
So fuck a color La Conf, but there's some other stuff.

[2013-03-04 06:23] lstoll commented on #21
Stayed with @rkh and @codenamejac in Fitz. Winner.

[2013-03-04 06:23] #21 closed, assigned to nobody

[2013-03-04 06:24] lstoll commented on #17
Pretty sure we got drunk.

[2013-03-04 06:24] #17 closed, assigned to nobody

[2013-03-04 06:26] lstoll commented on #14
I think we won at this.

[2013-03-04 06:26] #14 closed, assigned to nobody

[2013-03-04 06:35] lstoll commented on #22
So, it's time to get serious about this. @codenamejac 's flight has been booked, and my visa has been approved.

I'm leaning towards two separate places in the same area, rather than a single place. Options are better that way.

The place @dylanegan and I looked at is still available, and I think the price has dropped a little too. Otherwise, there's a bunch of stuff on there.

I'm thinking 23 Apr

[2013-03-04 06:49] lstoll commented on #22
Oh, the links to those places we looked at:

(the one I want to get:) https://www.airbnb.com.au/rooms/743622
(the side by side rooftop ones): https://www.airbnb.com.au/rooms/742127 &  https://www.airbnb.com.au/rooms/743648
(balcony): https://www.airbnb.com.au/rooms/742058
('loft' w/ single beds): https://www.airbnb.com.au/rooms/742691  &  https://www.airbnb.com.au/rooms/742757
(studio w/single): h

[2013-03-11 10:28] lstoll commented on #18
Plus, LOT have now changed the fucking time, dicks.

![](http://sk.lds.li/LOT__reservation_20130311_212745.png)

[2013-03-12 12:27] dylanegan commented on #18
I get that a LOT.

[2013-03-12 12:46] lstoll commented on #18
:laughing: you so punny.

[2013-03-15 15:39] dylanegan commented on #22
DAMN YOU HOUSING THAT ISN'T LIKE OUR FIRST PLACE!

[2013-03-15 15:41] lstoll commented on #22
DAMNIT

![](http://newton64.ca/images/animazing/ShakeHarderBoy.gif)

[2013-03-16 02:01] ghost commented on #22
IT'S A CONSPIRACY

Sent from my iPhone

On 16/03/2013, at 2:41, Lincoln Stoll notifications@github.com wrote:

[2013-03-27 11:38] lstoll opened #24 "Tuscany"
For GitHub Destination. Gotta get @codenamejac and I there.

Leave on 30 Apr, return 8 May?

sr/travel#2

[2013-03-27 12:31] lstoll commented on #22
[AirBnB places](https://www.airbnb.com.au/s/Berlin?checkin=22-04-2013&checkout=22-09-2013&guests=3&room_types%5B%5D=Entire+home%2Fapt&hosting_amenities%5B%5D=4&min_bedrooms=2&price_max=2400)

[@roidrage 's place](http://www.immobilienscout24.de/expose/68356768)

Suitible places on crocodilian:
[F'hain](http://www.rooms-in-berlin.com/8176.html)
[Mitte](http://www.rooms-in-berlin.com/6864.html)
[Tie

[2013-03-27 13:38] roidrage commented on #22
I'm not sure there's a minimum lease, but having you in there for just 2-3 months is sure to make them unhappy.

[2013-03-27 13:48] lstoll commented on #22
Oh of course, I'd be thinking 1yr minimum. I just know long term stuff can be a thing in .de

[2013-03-28 09:35] sr commented on #20
@lstoll When do you get back in the EU again? @dylanegan and I were talking about tentatively meeting up in Hamburg for Acqua then driving down to Krakow for sr/travel#3.

[2013-03-28 09:41] lstoll commented on #20
Aqua is closer to Berlin.... I get back the 22nd so I guess I'll just head there a different time.

[2013-03-28 09:44] sr commented on #20
Nah dude, I'd rather do it when you can make it :heartbeat:  Just asking

[2013-04-01 04:55] lstoll opened #25 "Finish getting to Berlin"
Gotta get @codnamejac and myself from stopping locations (Frankfurt and Geneva) to Berlin

[2013-04-01 05:07] lstoll opened #26 "Noma / Denmark"
Gotta go to dat noma with @dylanegan :heart:

/cc @codenamejac

[2013-04-01 05:18] lstoll commented on #26
@dylanegan do you have flights/accom/etc yet? I'm planning on leaving the 12th for copenhagen, returning 15th?

[2013-04-01 05:20] lstoll commented on #25
GVA-SXF, Easyjet, 18:40 -> 2020, ~Sfr.100

Lounge access in GVA : [Salon SkyView Lounge](http://www.executivelounges.com/lounges/geneva-airport-lounge)

[2013-04-01 05:50] lstoll commented on #25
FRA -> 7am, Apr 22.

![](http://sk.lds.li/DB_BAHN__TravelService__Availability_20130401_162835.png)

[2013-04-01 06:32] lstoll commented on #24
Plan now is to arrive 30th, leave 7th. Stay at the conf hotel 7-9 (GH has the booking from 9-12th)

Flights

![airberlin - Flights to Berlin and Dusseldorf airberlin com - airberlin com 2013-04-01 17-08-14](https://f.cloud.github.com/assets/694/323042/851c02dc-9a92-11e2-8928-687161784c57.png)

![easyJet - Step 1 - Flights 2013-04-01 17-10-26](https://f.cloud.github.com/assets/694/323047/d3527558-9

[2013-04-01 06:37] lstoll commented on #24
Note - AirBerlin flights are from Tegel.

[2013-04-01 07:07] lstoll commented on #24
On return, stay at Ramada - [much cheaper](http://www.booking.com/hotel/de/ramada-berlin-alexanderplatz.en-gb.html?aid=356980;label=gog235jc-hotel-en-de-radissonNsasNberlin-unspec-au-com;sid=96ea1120bcb581067b5d485462d40924;dcid=1;checkin=2013-05-07;checkout=2013-05-09;srfid=6618df8134332da336b35a4399f0ed5cd2376a0aX4)

[2013-04-01 07:11] lstoll opened #27 "Nordic Ruby"
Need to get there. Accom provided Jun 6-9th

[2013-04-01 07:12] lstoll commented on #27
Check in 1600 Jun 9th, 1200 Jun 9th

[2013-04-01 07:12] lstoll commented on #27
@dylanegan are you going?

[2013-04-01 07:19] lstoll commented on #27
![airberlin - Flights to Berlin and Dusseldorf airberlin com - airberlin com 2013-04-01 18-19-09](https://f.cloud.github.com/assets/694/323147/6cc20c5e-9a9c-11e2-958f-779009979104.png)

[2013-04-01 08:23] lstoll commented on #25
Booked.

[2013-04-01 08:23] #25 closed, assigned to lstoll

[2013-04-01 08:26] sr commented on #24
Snow chains what?

[2013-04-01 08:27] lstoll commented on #24
@sr lrn2web - it's an optional extra, that I haven't checked :)

[2013-04-01 08:52] lstoll commented on #24
:airplane: booked.

![airberlin - Flights to Berlin and Dusseldorf airberlin com - airberlin com 2013-04-01 19-52-24](https://f.cloud.github.com/assets/694/323274/73d01934-9aa9-11e2-8600-dd878486a05f.png)

[2013-04-01 09:47] lstoll commented on #24
:car: booked.

![Confirmation reservation 2013-04-01 20-47-04](https://f.cloud.github.com/assets/694/323395/16c5e1e4-9ab1-11e2-99c4-81dd45196be4.png)

[2013-04-01 09:54] lstoll commented on #26
@sr @thedukeofsf how are you guys getting up there?

[2013-04-01 09:58] lstoll commented on #24
:hotel: booked for Berlin return. Ramada from 7th -> 9th, then the conference hotel. Will be around the 8th to help @thedukeofsf get conf set up.

[2013-04-01 10:08] lstoll commented on #22
Couldn't wait any longer, so I sent a booking request [the airbnb I liked](https://www.airbnb.com.au/rooms/743622) for the 8 days in Berlin, before Tuscany. Also got a hotel for GitMerge / between Tuscany and Copenhagen.

That pushes the date back for a 'proper' apartment until about 16th May.

[2013-04-01 10:08] sr commented on #26
@dylanegan and myself where talking about driving up there from Berlin. I'll already have a car. See dylanegan/travel#72

[2013-04-01 10:19] #24 closed, assigned to lstoll

[2013-04-01 10:48] lstoll opened #28 "Melbourne Last Call 2013"
Gotta have a last call with everyone in Melbourne, before dropping the car off at Southern Cross on 20 April in Melbourne.

/cc @benschwarz @alanjrogers

[2013-04-01 10:49] lstoll commented on #28
Looking in to [this airbnb place in Collingwood](https://www.airbnb.com.au/rooms/392956)

[2013-04-01 16:01] jeniferduke commented on #26
@lstoll - your dinner reservation is on the 15th, so how are you planning on returning on the 15th?

I'll be heading to CPH on 5/13. Will be taking either easyjet or air berlin. Probably staying till the 15th or 16th, but could stay until the 18th. I just need to get to Paris on the 18th.

[2013-04-01 22:36] lstoll commented on #22
Looks like I left it too late - seems like that whole building is booked out for that period. Looking at other options...

[2013-04-02 07:58] lstoll commented on #26
I couldn't remember the exact night, but that makes sense. So I guess leave on the 16th.

Might fly to CPH on the 13th as well, prices on the 12th are crazy. Or maybe just drive up, will figure that out this week.

[2013-04-02 10:24] dylanegan commented on #20
Let's aim this to be after May and June. With noma and potentially another venture on the cards in June I will probably want to put this in for summer.

[2013-04-02 10:27] lstoll commented on #20
Sounds good, it's only a short train from Berlin anyway.

[2013-04-02 10:33] dylanegan commented on #26
@lstoll the drive is about 6 hours according to Google. That includes a [ferry](http://www.scandlines.com/tickets-and-prices/tickets-and-prices/rostock-gedser).

[2013-04-02 10:36] dylanegan commented on #27
@lstoll yeah. On the 6th you need to make your own way to the venue. The ferry will be best from Stockholm if you want to spend some time in town before heading to the venue. On the way out a taxi from Yasuragi to the airport is best.

[2013-04-02 10:45] dylanegan commented on #22
Sorry, been a bit slack on this. I'm back this weekend if we need anything scoped out.

[2013-04-02 11:08] lstoll commented on #26
@dylanegan oh shit, that's an easy drive then. Just gotta see how much a weeks car rental is, but shouldn't be too bad.

[2013-04-02 12:50] lstoll commented on #27
All booked, [in TripIt](https://www.tripit.com/trip/public/id/94B691F1F3ED). Leave Berlin on the 5th, spend a night in stockholm, then conf.

[2013-04-02 16:12] sr commented on #26
@lstoll Get a convertible then we can all :soccer: out of control and maybe :boom: on the highway with the roofs down like this guy :horse_racing:

![](http://www.examiner.com/images/blog/wysiwyg/image/399px-Modern-Knight.jpg)

[2013-04-03 07:16] lstoll commented on #26
Holy shit, convertible jousting would be awesome.

[2013-04-03 07:47] dylanegan commented on #26
![](http://www.viceland.com/wp/wp-content/uploads/2011/05/img_2.jpeg)

[2013-04-10 12:27] lstoll commented on #28
AirBnB no good. Booked a motel at 2 Sydney Rd. for Sat night, then out in the 'burbs till latish tues night. From then until sat midday, here: http://pegasussuites.com.au

So Wed morning till Sat midday, it's ON! Planning on hitting the league, and basically hanging out.

[2013-05-05 11:06] lstoll commented on #22
ref dylanegan/berlin#7 dylanegan/berlin#8

[2013-05-07 16:10] #28 closed, assigned to lstoll

[2013-07-05 21:15] lstoll commented on #27
:ship: 'd an amazing time.

[2013-07-05 21:15] #27 closed, assigned to lstoll

[2013-07-09 16:03] lstoll opened #29 "Summer S U M M I T adventure."
Summit will be over 2/8, fly evening of 6/8.

What do?

/cc @sr

[2013-07-09 16:03] #18 closed, assigned to nobody

[2013-07-09 16:03] #15 closed, assigned to nobody

[2013-07-09 16:04] lstoll commented on #22
Have a real house now, all good.

[2013-07-09 16:04] #22 closed, assigned to nobody

[2013-07-09 16:04] lstoll commented on #26
This was T A S T Y.

Also, convertible jousting is for another time.

[2013-07-09 16:04] #26 closed, assigned to nobody

[2013-07-09 16:06] roidrage commented on #22
Pictures and a barbie, or it didn't happen!

[2013-07-09 16:10] lstoll commented on #29
Options I can think of so far are:

1) Still go to LA. Stay at a hotel near venice. Like [Hotel Erwin](http://www.hotelerwin.com)
2) Go to Palm springs, chill the fuck out at a resort.
3) L A S V E G A S.

[2013-07-10 13:55] sr commented on #29
Definitely leaning towards chilling the fuck out. Hotel Erwin actually sounds really appealing because beach and roof top while still being in the city-ish so we still have the option to do stuff.

[2013-07-10 13:55] sr commented on #29
What dates were you thinking btw?

[2013-07-10 15:50] lstoll commented on #29
I guess Fri and Sat nights at least, Maybe Sun. Be nice to have Mon/Mon night/Tues in SF to see people.

And Erwin is looking like a pretty winning option. @rtomayko you stayed there yeah? Was it good?

[2013-09-02 20:00] lstoll commented on #29
God we nailed this in Palm Springs.

[2013-09-02 20:00] #29 closed, assigned to nobody

[2013-09-02 20:02] lstoll commented on #7
Closing this for now. We can München whenever.

[2013-09-02 20:02] #7 closed, assigned to nobody

[2013-09-02 20:02] lstoll commented on #23
We live in Berlin now, so there's no 'Post Berlin'

[2013-09-02 20:02] #23 closed, assigned to nobody

[2013-09-02 20:03] lstoll commented on #20
Still want to do this _hint_

[2013-09-02 20:14] lstoll opened #30 "MiniSummit in SF + Other Adventure."
Gotta be in SF 6/7/8 Nov. ~~Should stay the weekend after, 'Football' with @wfarr sounds fun.~~

~~Then should do a mini-adventure while in the US. Maybe Chicago, and then family in O H I O.~~

Weekend of arrival is rented C class to drive somewhere (TBD), then afterwards probably Vancouver.

[2013-09-04 08:53] sr commented on #20
:+1: I'd fly over for that.

[2013-09-04 09:09] lstoll commented on #20
November, @dylanegan ?

[2013-09-04 09:30] dylanegan commented on #20
@lstoll will know during holiday.

[2013-09-04 09:34] lstoll commented on #20
@dylanegan can't figure it any earlier? We have to reserve a couple of months in advance, a bunch of days in November are already booked out.

[2013-09-04 09:36] dylanegan commented on #20
What date are you looking at? Mid to late?

[2013-09-04 09:37] lstoll commented on #20
Yeah def towards late, probably last week. Early in the week for availability, and hopefully cheaper accommodation.

[2013-09-09 22:07] lstoll opened #31 "Atlanta"
For DevopsDays Atlanta.

Probably fly in Oct 1, and leave Oct 6 or 7.

Stay at one of the W's in town. @wfarr, which one was it?

/cc @wfarr @jnewland.

[2013-09-09 22:16] lstoll commented on #31
Probably flight.

![2013-09-10 at 12 15 am](https://f.cloud.github.com/assets/694/1110947/69e05722-199d-11e3-9db7-d5dbb597ff4a.png)

[2013-09-09 22:17] wfarr commented on #31
W Midtown Atlanta. The one at 14th and Juniper.

[2013-09-09 22:20] lstoll commented on #31
@wfarr :cool:, what dates are you going to be in town?

[2013-09-09 22:21] lstoll commented on #31
Probable hotel

![2013-09-10 at 12 20 am](https://f.cloud.github.com/assets/694/1110972/21cbc1b4-199e-11e3-9b7e-7d01d1895678.png)

[2013-09-11 19:04] wfarr commented on #31
If your flights are confirmed, I'll book my own travel and lodging this week then.

[2013-09-11 23:25] lstoll commented on #31
Booked. Arrive Oct 1, Leave Oct 7, Stay at W Midtown. Details in TripIt.

[2013-09-18 09:23] lstoll commented on #30
/cc @dgoodlad

I can change my return flight for $330 to depart YVR at 2045 on Wed, 13th Nov. Will probably fly up from SF on Sat, 9th.

@dgoodlad - what do you think the chances are of you being there? I should probably make this change soon.

[2013-09-18 09:48] dgoodlad commented on #30
@lstoll let's say 80% right now; need to confirm what flights I can push for before I officially start. I suspect MEL-SFO return is similar pricing to MEL-YVR, SFO-MEL, so shouldn't be an issue though.

[2013-09-18 10:25] lstoll commented on #30
Sweet, I might just :ship: it then. Worst case, I still get to hang out in Van.

If you do head up, when would you expect to arrive?

[2013-09-18 10:25] lstoll commented on #30
/cc @benburkert

[2013-09-18 12:24] dgoodlad commented on #30
I'd plan to arrive either Friday or Saturday.

[2013-09-20 08:15] lstoll opened #32 "Amsterdam"
Visit http://www.marzee.nl/galerie/contact/, check it out, Drop Ben&Abby off at FRA.

/cc @benschwarz @codenamejac

[2013-09-20 08:17] lstoll commented on #32
Probably drive to Amsterdam on Wednesday, spend Wed and Thurs night there. Drive to the Gallery on Fri, check it, then to Frankfurt Airport Friday evening. Stay there, B&A Fly out. Maybe train back to Berlin? Want to visit anything while over that way?

[2013-09-20 09:13] lstoll commented on #32
Mercure FRA, €63/night.

[2013-09-20 09:14] benschwarz commented on #32
:hotel: Mercure FRA, booked

[2013-09-20 09:31] lstoll commented on #32
AirBnB:

https://www.airbnb.com/rooms/358155

Hotel:

http://www.booking.com/hotel/nl/conscious-vondelpark.en-gb.html?sid=275db527ad396605521373c55604dca0;dcid=1;checkin=2013-09-25;checkout=2013-09-27;group_adults=2;group_children=0;group_adults=2;group_children=0;group_rooms=25418702_80312459_0_42_2_0_0,25418702_80312459_0_42_2_0_0;srfid=39d48ed501769ff99f4de82097bd1985ec84fdf6X6

Not a crazy amo

[2013-09-20 15:35] lstoll commented on #32
AirBnB Booked. and everything else.

Now what do. @dylanegan, recommendations?

[2013-09-20 17:11] dylanegan commented on #32
So much.

[2013-09-20 17:11] lstoll commented on #32
Danke vielmals

[2013-09-24 04:05] dylanegan commented on #32
[Amsterdam](https://github.com/dylanegan/travel/blob/master/Netherlands/Amsterdam.md).

[2013-09-24 04:55] dgoodlad commented on #30
@lstoll just submitted my plans to the travel agent; would arrive in YVR on Friday Nov 8 around mid-day.

[2013-09-30 10:57] lstoll commented on #32
NAILED.

[2013-09-30 10:57] #32 closed, assigned to nobody

[2013-09-30 10:59] lstoll opened #33 "Australia 2013."
Meta-issue for being in Aus Early 2013.

Gotta work out how to get there, and back.

@codenamejac has flight 11 Jan, I'll probably fly in end Jan. Redeem points for return early Mar.

[2013-09-30 11:15] lstoll opened #34 "Fingal Hack House"
Wanna do this again next year. Looking at either the beginning, or end of Feb. This time, probably partners welcome and a little more social - rather than trying to be an 'official' GitHub deal.

![2013-09-30 at 1 08 pm](https://f.cloud.github.com/assets/694/1236448/df48e3e8-29c0-11e3-8f4f-a661de8d999e.png)

![2013-09-30 at 1 11 pm](https://f.cloud.github.com/assets/694/1236450/fc4a3a5a-29c0-11e3-

[2013-09-30 11:21] lstoll opened #35 "NZ Hack House"
Spend a week in NZ, working from a really nice place. Thinking [Dry Olive](http://www.dryolivehomestay.com). Looking at the calendar, some time in the last 2 weeks of Feb look the Best. This could be scheduled after Webstock, and hopefully around a Railscamp NZ. Probably should book soon though.

Interested?

TRAMOPOLINE

![2013-09-30 at 1 21 pm](https://f.cloud.github.com/assets/694/1236501/5d658

[2013-09-30 11:29] benschwarz commented on #35
Interested.

[2013-09-30 14:54] lstoll commented on #35
/cc @codenamejac @bgentry

[2013-09-30 14:58] dgoodlad commented on #35
:+1: let's make it happen

[2013-09-30 18:20] bgentry commented on #35
[![](https://i1.ytimg.com/vi/Zh5knx1Bt64/sddefault.jpg)](https://www.youtube.com/watch?v=Zh5knx1Bt64)

tramampoline!

[2013-09-30 18:24] bgentry commented on #35
Dry Olive was amazing. Would love to stay there again, longer this time!

[2013-09-30 18:25] lstoll commented on #35
Would be looking at a full week there. Trying to work out what the deal is with railscamp NZ.

[2013-10-01 16:52] wfarr commented on #34
If you aren't drowning, you're not deep enough.

[2013-10-02 19:32] lstoll commented on #35
![2013-10-02 at 3 31 pm](https://f.cloud.github.com/assets/694/1256645/4f2427e8-2b99-11e3-99c4-f44cd3105788.png)

So the railscamp NZ is at the location we want, but later than expected (7-10 Mar). Who'd be interested in going to that? Should we align this with that Railscamp?

also /cc @wfarr

[2013-10-02 22:03] benschwarz commented on #35
I won't go to that—

[2013-10-08 07:33] dgoodlad commented on #30
@lstoll wdyt about https://www.airbnb.com.au/rooms/1495324

[2013-10-08 08:32] lstoll commented on #30
lgtm :shipit:

[2013-10-09 21:38] lstoll opened #36 "Melbourne"
Probably 8-15 Feb.

AirBnB Fitz/Collingwood/etc.

/cc @codenamejac

[2013-10-09 21:39] lstoll commented on #36
Love this place: https://www.airbnb.com/rooms/256186

![2013-10-09 at 11 39 pm](https://f.cloud.github.com/assets/694/1301981/46abbc24-312b-11e3-9b36-c01701da8f5f.png)

[2013-10-11 09:38] lstoll commented on #36
Booked, gonna be in Collingwood from 7-15 Feb.

Be prepared, @benschwarz @dgoodlad @quamen @geelen @joho @alanjrogers @charliesome

[2013-10-11 11:58] joho commented on #36
Poo. I'll be in NZ for family duties then webstock.
On Oct 11, 2013 3:23 PM, "Lincoln Stoll" notifications@github.com wrote:

[2013-10-12 02:00] quamen commented on #36
Shawesome! See you then.

[2013-12-21 04:44] dgoodlad commented on #35
So, this is happening! @MissG suggested we might want to get a people-mover of some description for wine adventures. Thoughts?

[2013-12-21 05:15] MissG commented on #35
Ahoy there campers,

So I'm going through and booking everything for Dave and I at the moment and have a few things that I wanted to confirm group-wise, as they affect other parts of our travel.
1. How many cars do we want between the lot of us? It makes sense if people are coming up from Christchurch that we do a consolidation of cars there (and potentially transfer to a really sexy people mover)

[2013-12-27 13:50] lstoll commented on #35
So far it's 4 os us, which would fit in a car.

We'll be coming up the other coast, so only potential drop off spot is Blenheim or Picton. Did you see how much a people mover cost?

On the last (Fri) day @codenamejac will be flying out from Christchurch to Melbourne at 1600 I think - So would probably want to get to CHC airport by 1400 at the latest. From there, drive to the Railscamp in one car,

[2014-01-05 00:53] MissG commented on #35
Righto.

So I'm going to book a flight out of CHC at 3pm to Auckland for myself on the 7th. I'm also going to look at booking a car for Dave and I from Queenstown to Blenheim. Keep in mind that 4 people with luggage is pretty tight in a sedan - particularly as Dave and I will be travelling with our lives on our backs.

Group car from Blenheim to Christchuch Airport - a people mover is $109 per day

[2014-01-12 18:24] lstoll commented on #35
Sorry about the delays, still on the radar - just need to work out who exactly is there first.

A van probably makes sense, we'll just need to co-ordinate dropping off other rental cars in blenheim, then switching back to a car in chc.

[2014-01-13 00:13] MissG commented on #35
Sweet. I have booked a car for drop off at Blenheim at 4pm on that day (although I'm sure if we rocked up earlier it wouldn't be an issue). Can book a van for $129 per day from Blenheim to Christchurch - let me know and I can book it in.

PS we are booking through Apex Rentals.

[2014-01-14 11:38] benschwarz commented on #35
Thanks for the reminder. I'll get my shit together (write it on the fridge) and see if I can figure out what we're up to.

[2014-01-24 03:08] lstoll commented on #30
WE DID THIS

[2014-01-24 03:08] #30 closed, assigned to lstoll

[2014-07-25 17:24] lstoll opened #37 "Ben Schwarz in EU (and others)"
So Mr. @benschwarz will be here. And some others.

Been talking about doing some kind of adventure in EU, maybe Spain/France or something else Rad.

What dates should we look at shit for? When is the conf and shit?

/cc @dylanegan

[2014-07-25 17:24] #36 closed, assigned to nobody

[2014-07-25 17:25] #35 closed, assigned to nobody

[2014-07-25 17:25] #34 closed, assigned to nobody

[2014-07-25 17:25] #33 closed, assigned to nobody

[2014-07-25 17:25] lstoll commented on #31
WE DID THIS!

[2014-07-25 17:25] #31 closed, assigned to nobody

[2014-07-25 17:25] lstoll commented on #20
mmmmmmmmmmmmmm 3:star:

[2014-07-26 10:03] sr commented on #20
end of september

[2014-07-26 10:04] lstoll commented on #20
if so, we should book soon. availability already dropping…

what dates you gonna be here?

On 26 Jul 2014, at 12:03 pm, Simon Rozet notifications@github.com wrote:

[2014-07-29 13:21] sr commented on #20
PollerWiessen (techno boat party in Koln) is on the 28th of September so I am thinking Berlin on Wednesday/Thursday 24/25 for a few nights, Aqua, then train to Koln on Saturday afternoon.

Were you thinking of spending the night in Wolfsburg or training back to Berlin after dinner? I'd love to techno for a night in Berlin if possible.

[2014-08-06 02:52] benschwarz commented on #37
Dates are:
- Arrive on the 3rd (7:45pm)
- 5th—7th Berlin Festival

7—12th ADVENTURE TIME
- 12th CSSConf
- 13th—14th JSConf
- 19th Fly to Australia

[2014-08-07 09:14] dylanegan commented on #37
@benschwarz :beers: :beers:.

[2014-08-07 09:15] dylanegan commented on #37
:cocktail: :cocktail: :cocktail: :cocktail: :cocktail: :cocktail: :cocktail: :cocktail: :cocktail: :cocktail: :cocktail: :cocktail: :cocktail: :cocktail: :cocktail: :cocktail: :cocktail: :cocktail: :cocktail: :cocktail: :cocktail: :cocktail: :cocktail: :cocktail: :cocktail: :cocktail: :cocktail: :cocktail: :cocktail: :cocktail: :cocktail: :cocktail: :cocktail: :cocktail: :cocktail: :cocktail: :coc

[2014-08-07 09:15] dylanegan commented on #37
:fireworks: :fireworks: :fireworks: :fireworks: :fireworks: :fireworks: :fireworks: :fireworks: :fireworks: :fireworks: :fireworks: :fireworks: :fireworks: :fireworks: :fireworks: :fireworks: :fireworks: :fireworks: :fireworks: :fireworks: :fireworks: :fireworks: :fireworks: :fireworks: :fireworks: :fireworks: :fireworks: :fireworks: :fireworks: :fireworks: :fireworks: :fireworks: :fireworks: :fir

[2015-06-11 20:03] #20 closed, assigned to nobody

[2015-06-11 20:05] #37 closed, assigned to nobody